body{
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin:40px auto 0 auto;
  color:#66BFBF;
  font-weight: bold;
  line-height: 10%;
  padding-bottom:10px;
}
.topcontainer{
  background-color:#B1E1FF;
  position: relative;
  padding-top: 170px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
}
.span{
  text-decoration: underline;
}
.cloud{
  position:absolute;
  left:250px;
  bottom:300px;
}

.top{
  position:absolute;
right:300px;
top:40px;

}
h3{
  color:#11999E;
}
a{
  color:#11999E;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.comp{
  width:25%;
  float: left;
  margin-right: 30px;
}
.chillies{
  width:25%;
  float: right;
  margin-left: 30px;
}
hr{
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 6px;
height: 0;
width: 4%;
margin:100px auto;
}
.middle-container{
  margin: 100px 0;
}
.ok{
  width:30%;
  margin: auto;
}
p{
  line-height: 2;
}

.btn{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact{
  width:30%;
  margin:40px auto 60px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.last{
  margin-bottom: 0;
  color:white;
  font-size: 0.75rem;
  padding-top:2px;
}
a{
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
}
a:hover{
  color:white;
}
